<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891827822894-bi5mjo1j2idifdjlgeaa67ona1pnnvks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891827822894-bi5mjo1j2idifdjlgeaa67ona1pnnvks</string>
	<key>API_KEY</key>
	<string>AIzaSyD0lp7mCznlMnjriaEfTRB6RvkYGALKOzA</string>
	<key>GCM_SENDER_ID</key>
	<string>891827822894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bgsuMap</string>
	<key>PROJECT_ID</key>
	<string>bgsu-map</string>
	<key>STORAGE_BUCKET</key>
	<string>bgsu-map.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891827822894:ios:3a75e22b733fd6407d5abf</string>
</dict>
</plist>